* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    background-color: #000000;
    overflow-x: hidden;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}


@keyframes glow {
    from {
        text-shadow: 0 0 10px #00ffcc, 0 0 20px #00ffcc;
    }

    to {
        text-shadow: 0 0 20px #00ffcc, 0 0 30px #00ffcc;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

main {
    margin-top: 4%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.topTitle {
    text-align: center;
    background-color: #1a1a1abe;
    width: 600px;
    height: 75px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.topTitle input {
    width: 100%;
    text-align: center;
    height: 100%;
    border-radius: 10px;
    background-color: #1a1a1ad7;
    font-size: 200%;
    color: snow;
}

.containerLink {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 150px;
}

.containerLink .link {
    width: 20%;
    background-color: #1a1a1ad7;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    box-shadow: 3px 3px 5px 0.25px snow;
    transition: 0.2s;
    color: snow;
    text-decoration: none;
}

.containerLink .link:hover {
    transform: scale(1.05);
    transition: 0.2s;
}

.containerLink .link svg {
    width: 50px;
    height: 50px;
}

.containerLink .link p {
    font-size: 150%;
}

.containerBloc {
    width: 70%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bloc {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    padding: 10px 0;
}

.bloc h1 {
    padding: 20px;
}

h2 {
    padding: 20px !important;
}

.blocContainer {
    width: 60%;
    padding: 20px;
}

.pp {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.accountpp {
    border-radius: 50%;
}

.infoTrafic {
    width: 90%;
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
}

.navbarTrafic {
    text-align: center;
    margin-bottom: 20px;
}

.navbarTrafic ul {
    list-style: none;
    padding: 0;
}

.navbarTrafic ul li {
    display: inline-block;
    margin: 0 10px;
    padding: 10px 20px;
    background-color: #333;
    border-radius: 10px;
    cursor: pointer;
    font-size: 150%;
    transition: background-color 0.3s ease-in-out;
}

.navbarTrafic ul li:hover {
    background-color: #00cc99;
    color: #fff;
}

.traficInformation {
    display: grid;
    background-color: #1a1a1ad7;
    border-radius: 20px 20px 0px 0 ;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    height: 200px;
    align-items: center;
    justify-content: center;
}

.trafic-item {
    background-color: #292929d7;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    padding: 20px;
    color: #fff;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 75px;
    animation: fadeIn 0.5s ease-in-out;
    cursor: pointer;
}

.trafic-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 204, 153, 0.5);
}

.trafic-item .svg-icon {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 30px; 
    height: 30px; 
}

.trafic-item .svg-icon svg {
    animation: fadeIn 0.5s ease-in-out;
    fill: #00cc99;
}

.bottomMessageArea {
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 10px 20px;
    background-color: #1a1a1ad7;
    border-radius: 0px 0px 20px 20px ;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

ul {
    list-style-type: none;
}

@keyframes moveStars {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -10000px 10000px;
    }
}

@keyframes movePlanets {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -10000px 10000px;
    }
}

@media screen and (max-width: 900px) {
    .containerLink {
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
    }

    .containerLink .link {
        width: 80%;
        margin-bottom: 50px;
    }

    .topTitle {
        margin-top: 100px;
        width: 350px;
    }

    .topTitle input {
        font-size: 150%;
    }

    .containerBloc {
        margin: 150px 0;
    }

    .blocContainer {
        width: 100%;
        padding: 20px;
    }

    .containerBloc {
        width: 90%;
    }
}

.ui-autocomplete {
    position: absolute;
    border: 1px solid #ccc;
    background: #fff;
    list-style: none;
    color: #000;
    padding: 0;
    margin: 0;
    z-index: 1000;
}

ui-helper-hidden-accessible div {
    display: none;
}