* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    background-color: #000000;
    overflow-x: hidden;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}


@keyframes glow {
    from {
        text-shadow: 0 0 10px #00ffcc, 0 0 20px #00ffcc;
    }
    to {
        text-shadow: 0 0 20px #00ffcc, 0 0 30px #00ffcc;
    }
}

@keyframes fadeIn {
    0% { opacity: 0; transform: translateY(-20px); }
    100% { opacity: 1; transform: translateY(0); }
}

main{
    margin-top: 4%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.topTitle{
    text-align: center;
    background-color: #1a1a1abe;
    width: 600px;
    height: 75px;
    border-radius: 10px;
}

.topTitle input {
    width: 100%;
    text-align: center;
    height: 100%;
    border-radius: 10px;
    background-color: #1a1a1ad7;
    font-size: 200%;
    color: snow;
}

.containerLink{
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 150px;
}

.containerLink .link{
    width: 20%;
    background-color: #1a1a1ad7;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    box-shadow: 3px 3px 5px 0.25px snow;
    transition: 0.2s;
    color: snow;
    text-decoration: none;
}

.containerLink .link:hover{
    transform: scale(1.05);
    transition: 0.2s;
}

.containerLink .link svg{
    width: 100px;
    height: 100px;
}

.containerLink .link p{
    font-size: 150%;
}

.containerBloc{
    width: 70%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bloc{
    width: 100%;
    background-color: #1a1a1aee;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
}

.bloc h1{
    padding: 20px;
}

.blocContainer{
    width: 100%;
    padding: 20px;
}

.account{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.account form ul{
    list-style-type: none;
}

.account form ul li{
    display: flex;
    justify-content: center;
    margin: 30px;
}

.account form ul li svg{
    width: 35px;
    height: 35px;
}

.account form ul li input {
    width: 100%;
    text-align: center;
    border-radius: 10px;
    background-color: #1a1a1ad7;
    color: snow;
    font-size: 150%;
    margin-left: 10px;
}

.account form ul li input[type="submit"] {
    width: 100%;
    text-align: center;
    border-radius: 10px;
    background-color: #1a1a1ad7;
    color: #fff;
    font-size: 150%;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    box-shadow: 0 0 5px #00ffcc, 0 0 10px #00ffcc;
    transition: all 0.3s ease-in-out;
    font-weight: bold;
}

.account form ul li input[type="submit"]:hover {
    background-color: #00cc99;
    color: snow;
    box-shadow: 0 0 5px #00ffcc, 0 0 15px #00ffcc;
    transform: scale(1.05);
}

.account form ul li input[type="submit"]:active {
    background-color: #009977;
    box-shadow: inset 0 0 10px #007755;
    transform: scale(0.95);
}

@keyframes moveStars {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -10000px 10000px;
    }
}

@keyframes movePlanets {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -10000px 10000px;
    }
}
