.container-map {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#galaxy-map {
    flex: 1;
    margin-right: 20px;
    border: 2px solid #00ffcc;
    border-radius: 10px;
    max-width: 600px;
    height: 500px;
}

#legend {
    width: 200px;
    padding: 10px;
    background-color: #f4f4f4;
    border-radius: 8px;
    font-family: Arial, sans-serif;
    font-size: 12px;
    color: #333;
}

.legend-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.color-box {
    display: inline-block;
    margin-right: 5px;
    border-radius: 50%;
    border: 1px solid #ddd;
}

.star {
    position: absolute;
    background-color: white;
    border-radius: 50%;
    width: 2px;
    height: 2px;
    animation: twinkle 3s infinite;
    opacity: 0.8;
}

@keyframes twinkle {
    0%, 100% { opacity: 0.5; }
    50% { opacity: 1; }
}
